<%-include("header"); -%>
<body>
    

<h2 class="qr-head">your QR code is</h2>
<div class="container qr-img">
    <img src="<%=qr%>" alt="qrcode"><br><br>
    <a href="/" role="button" class="btn btn-info btn-block btn-info">BACK</a>
</div>
</body>