<%-include("header"); -%>
<body>
    <div class="container">    <h1>QR CODE GENERATOR</h1></div>

    <form action="/final" class="forms" method="post">
        <h2>enter text or url</h2><br>
        <textarea name="text" id="" rows="6"></textarea><br><br>
        <button class="btn btn-info btn-block btn-lg" type="submit">GENERATE</button>
    </form>
</body>
</html>